<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>net.therap.enrollmentmanagement.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>net.therap.enrollmentmanagement.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/LogoutButton</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin_home</servlet-name>
        <servlet-class>net.therap.enrollmentmanagement.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>net.therap.enrollmentmanagement.servlets.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/viewCourseButton</url-pattern>
    </servlet-mapping>

</web-app>